<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.LOLCAA.mapper.ChampionMapper">

    <resultMap id="ChampionResultMap" type="com.LOLCAA.domain.po.Champion">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="primaryRole" column="primary_role" />
        <result property="secondaryRole" column="secondary_role" />
        <result property="tier" column="tier" />
        <result property="pickRate" column="pick_rate" />
        <result property="winRate" column="win_rate" />
    </resultMap>

    <select id="findById" resultMap="ChampionResultMap">
        SELECT * FROM champion WHERE id = #{id}
    </select>

    <select id="findByIds" resultMap="ChampionResultMap">
        SELECT * FROM champion
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findAll" resultMap="ChampionResultMap">
        SELECT * FROM champion
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO champion(name, primary_role, secondary_role, tier, pick_rate, win_rate)
        VALUES (#{name}, #{primaryRole}, #{secondaryRole}, #{tier}, #{pickRate}, #{winRate})
    </insert>

    <update id="update">
        UPDATE champion
        SET name=#{name},
            primary_role=#{primaryRole},
            secondary_role=#{secondaryRole},
            tier=#{tier},
            pick_rate=#{pickRate},
            win_rate=#{winRate}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM champion WHERE id=#{id}
    </delete>

</mapper>