<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.LOLCAA.mapper.ChampionTeamSynergyMapper">

    <select id="findTeamSynergyScore" resultType="double">
        SELECT team_synergy_score
        FROM champion_team_synergy
        WHERE champion_ids = #{championIds}
        LIMIT 1
    </select>

    <select id="findDescription" resultType="string">
        SELECT description
        FROM champion_team_synergy
        WHERE champion_ids = #{championIds}
        LIMIT 1
    </select>

</mapper>